@use '../../styles/typography' as *;
@use '../../styles/colors' as *;

.characters {
    background-image: url('../../assets/images/howl040.jpeg');
    background-size: cover;
    height: 80vh;
    // opacity: 0.75;

    &__card {
        border: 1px solid $dark-green;
        width: 20vw;
        background-color: $light-pink;
        border-radius: 5px;
        box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.2);
        background-size: cover;
        cursor: pointer;
        padding: 1.5rem;
        margin: 0 1.5rem;
    }

    &__image {
        height: 50%;
        width: inherit;
        border-radius: 5px;
        box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.2);
    }

    &__name {
        color: $dark-green;
        font-size: 1.25rem;
    }

    &__age {
        color: $dark-green;
        font-size: 1.25rem;
    }

    &__short-description {
        color: $dark-green;
        font-size: 1.25rem;
    }

    &__long-description {
        color: $dark-green;
        font-size: 1.25rem;
    }
}